*.pyc
cv/*.p
.idea
Report/masterproef.log
Report/masterproef.pdf
Report/masterproef.synctex.gz
Code/lda_images/models
Code/Flickr30kEntities
Code/cv
Report/Presentatie December/main.log
Report/Presentatie December/main.pdf
Report/Presentatie December/main.synctex.gz
